body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #f9f9f9;
    padding: 15px;
    font-size: 16px;
}

a {
    color: #6680f0;
    text-decoration: none;
}

h3, h4, h5, h6 {
    color: #151515;
    margin-top: 5px;
}

h5 {
    margin-bottom: 5px;
    
}

h1 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

div {
    margin: 5px;
    padding: 8px;
    background-color: #eee;
    border-radius: 5px;
}

ul {
    font-size: 16px;
    color: #333;
    list-style-type: circle;
}

li {
    margin-bottom: 6px;
}

hr {
    margin: 16px 0px 16px 0px;
}

.note {
    font-size: 18px;
    font-style: oblique;
    color: #999;
    display: inline-block;
}

.termset {
    font-size: 20px;
    margin: 3px;
    padding: 0;
}

.term {
    display: inline-block;
    padding: 4px;
    margin-right: 6px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.term:hover .terminfo {
    display: inline; 
}

.term .terminfo {
    display: none;
}

.term:hover {
    color: #668;
}

.subtype {
  color: #888;
    font-size: 10px;
    display: block;
    text-align: right; 
}
