body {
	background-color: #f9f9f9;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	padding: 15px;
}

a {
	color: #6680f0;
	text-decoration: none;
}

h3, h4, h5, h6 {
	color: #151515;
	margin-top: 5px;
}

h5 { margin-bottom: 5px; }

h1 {
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
}

div {
	background-color: #eee;
	border-radius: 5px;
	margin: 5px;
	padding: 8px;
}

ul {
	color: #333;
	font-size: 16px;
	list-style-type: circle;
}

li { margin-bottom: 6px; }

hr { margin: 16px 0px 16px 0px; }

.note {
	color: #999;
	display: inline-block;
	font-size: 18px;
	font-style: oblique;
}

.termset {
	font-size: 20px;
	margin: 3px;
	padding: 0;
}

.term {
	border: 2px solid #ccc;
	border-radius: 5px;
	display: inline-block;
	margin-right: 6px;
	padding: 4px;
}

.term:hover .terminfo { display: inline; }

.term .terminfo { display: none; }

.term:hover { color: #668; }

.subtype {
	color: #888;
	display: block;
	font-size: 10px;
	text-align: right;
}